Port 22
PermitRootLogin no
PasswordAuthentication yes
Subsystem sftp internal-sftp

Match User billing
    ForceCommand internal-sftp
    ChrootDirectory /home/billing
    AllowTcpForwarding no
    X11Forwarding no
