Port 22
PermitRootLogin no
PasswordAuthentication yes
Subsystem sftp internal-sftp

Match User dwh
    ForceCommand internal-sftp
    ChrootDirectory /home/dwh
    AllowTcpForwarding no
    X11Forwarding no