Port 22
PermitRootLogin no
PasswordAuthentication yes
Subsystem sftp internal-sftp

Match User smsc
    ForceCommand internal-sftp
    ChrootDirectory /home/smsc
    AllowTcpForwarding no
    X11Forwarding no
