<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>GetAllNodesServlet</servlet-name>
        <servlet-class>NODE_PK.GetAllNodesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveNodeServlet</servlet-name>
        <servlet-class>NODE_PK.SaveNodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNodeServlet</servlet-name>
        <servlet-class>NODE_PK.DeleteNodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToggleDockerContainerServlet</servlet-name>
        <servlet-class>DOCKER_PK.ToggleDockerContainerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUpstreamNodesServlet</servlet-name>
        <servlet-class>NODE_PK.GetUpstreamNodesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDownstreamNodesServlet</servlet-name>
        <servlet-class>NODE_PK.GetDownstreamNodesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllRulesServlet</servlet-name>
        <servlet-class>RULES_PK.GetAllRulesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveRuleServlet</servlet-name>
        <servlet-class>RULES_PK.SaveRuleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRuleServlet</servlet-name>
        <servlet-class>RULES_PK.DeleteRuleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllNodesServlet</servlet-name>
        <url-pattern>/GetAllNodesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveNodeServlet</servlet-name>
        <url-pattern>/SaveNodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNodeServlet</servlet-name>
        <url-pattern>/DeleteNodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToggleDockerContainerServlet</servlet-name>
        <url-pattern>/ToggleDockerContainerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUpstreamNodesServlet</servlet-name>
        <url-pattern>/GetUpstreamNodesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDownstreamNodesServlet</servlet-name>
        <url-pattern>/GetDownstreamNodesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllRulesServlet</servlet-name>
        <url-pattern>/GetAllRulesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveRuleServlet</servlet-name>
        <url-pattern>/SaveRuleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRuleServlet</servlet-name>
        <url-pattern>/DeleteRuleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
